:root {
  color-scheme: light;
}

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #ffffff;
  color: #212529;
}

img { max-width: 100%; display: block; }
button, input, select { font-family: inherit; }
